ipython
scipy
matplotlib
numpy
seaborn
pint>=0.10
cloudpickle
scikit-learn
pandas
seabreeze
nidaqmx
pytest
joblib

sphinx==3.0.3
recommonmark
numpydoc
nbsphinx
git+https://github.com/pandas-dev/pydata-sphinx-theme.git@master
nbsphinx-link
sphinx-automodapi
nbconvert
pandoc
flake8
gitpython
pygithub
