sphinx
ipython
scipy
matplotlib
recommonmark
numpydoc
nbsphinx
numpy
git+https://github.com/pandas-dev/pydata-sphinx-theme.git@master
seaborn
nbsphinx-link
sphinx-automodapi
nbconvert
pandoc
flake8
pint==0.9
cloudpickle
sklearn
pandas
seabreeze
nidaqmx
